<a href="https://colab.research.google.com/github/DeependraParmar/ML-Labs/blob/master/ML_Labs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# normal for loop
l=[1,2,3,4,4]
for i in l:
  print(i)

1
2
3
4
4

In [ ]:
# list comprehension
l=[1,2,3,4,5]
l2=[i for i in l]
print(l2)

[1, 2, 3, 4, 5]

In [ ]:
# Using list comprehension, construct a list from the squares of each element in the list,
# if the square is greater than 50.

l=[2, 4, 6, 8, 10, 114]
ld = [i**2 for i in l if i**2>50]
print(ld)

[64, 100, 12996]

In [ ]:
# Given dictionary is consisted of vehicles and their weights in kilograms
#  Contruct a list of the names of vehicles with weight below 5000 kilograms
#  In the same list comprehension make
#  the key names all upper case.
dict={"Sedan": 1500, "SUV": 2000, "Pickup": 2500, "Minivan": 16000, "Van": 24000, "Semi": 13600}
dict_der = [i.upper() for i in dict if dict[i]<5000]
print(dict_der)

['SEDAN', 'SUV', 'PICKUP']

In [ ]:
# if else statement in list comprehension
#for given list if value is greater than 5 print high else print low
l=[1,2,3,4,5,6,7,8,9]
l_derived = ['high' if i>5 else 'low' for i in l]
print(l_derived)

['low', 'low', 'low', 'low', 'low', 'high', 'high', 'high', 'high']

In [ ]:
# If x to the power of 2 is less than or equal to  10, execute 27*x for values in range 1 to 20
l = [27*i for i in range(1,21) if i**2 <= 10]
print(l)

[27, 54, 81]

In [ ]:
# EVEN NUMBERS in a range
number_list = [i for i in range(1,50) if i%2==0  ]
print(number_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [ ]:
# Find all numbers that can be DIVIDED BY 2 AND 5 in some range
num_list = [i for i in range(1,100) if i%2==0 and i%5==0]
print(num_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
# Conditional Statements - iterating to find the even and odds from a list
obj =  ["even" if i%2==0 else "odd" for i in range(1,20)]
print(obj)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
#print the table of 5 from 1 to 30
l = [f"5 * {i} = {5*i}" for i in range(1,31)]
print(l)

['5 * 1 = 5', '5 * 2 = 10', '5 * 3 = 15', '5 * 4 = 20', '5 * 5 = 25', '5 * 6 = 30', '5 * 7 = 35', '5 * 8 = 40', '5 * 9 = 45', '5 * 10 = 50', '5 * 11 = 55', '5 * 12 = 60', '5 * 13 = 65', '5 * 14 = 70', '5 * 15 = 75', '5 * 16 = 80', '5 * 17 = 85', '5 * 18 = 90', '5 * 19 = 95', '5 * 20 = 100', '5 * 21 = 105', '5 * 22 = 110', '5 * 23 = 115', '5 * 24 = 120', '5 * 25 = 125', '5 * 26 = 130', '5 * 27 = 135', '5 * 28 = 140', '5 * 29 = 145', '5 * 30 = 150']

In [ ]:
#string="I love this CSIT Department" Count the number of vowels and consonants in the string
string="i love this csit department"
j=[]
for i in string:
  if(i in ['a','e','i','o','u']):
    j.append(i)
print(j)
len(j)

['i', 'o', 'e', 'i', 'i', 'e', 'a', 'e']

8

In [ ]:
string = 'i love this csit department'
l = [i for i in string if i in ['a','e','i','o','u']]
print(l)
print(len(l))

['i', 'o', 'e', 'i', 'i', 'e', 'a', 'e']
8

In [ ]:
'''
Get only the numbers in a sentence like 'In 1984 there were 13 instances of a protest with over 1000 people attending'.  Result is a list of numbers like [3,4,5]
'''
sentence = 'In 1984 there were 13 instances of a protest with over 1000 people attending'
words = sentence.split()
result = [number for number in words if not number.isalpha() ]
print(result)

['1984', '13', '1000']

In [ ]:
'''
Find the common numbers in two lists (without using a tuple or set) list_a = [1, 2, 3, 4], list_b = [2, 3, 4, 5]
'''
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]
common = [i for i in list_a if i in list_b]
print(common)

[2, 3, 4]

In [ ]:
import pandas as pd

df = pd.DataFrame({"Name": ['Deependra','Aditya','Aarav','Ashutosh'],
                   "Age": [20,19,21,20]})

print(df)

        Name  Age
0  Deependra   20
1     Aditya   19
2      Aarav   21
3   Ashutosh   20

In [ ]:
df["Time"] = [3,4,5,6]
df["City"] = ["Dewas","Indore","Indore","Indore"]

In [ ]:
print(df)

        Name  Age  Time    City
0  Deependra   20     3   Dewas
1     Aditya   19     4  Indore
2      Aarav   21     5  Indore
3   Ashutosh   20     6  Indore

In [ ]:
colnames = [i for i in df]
print(colnames)

['Name', 'Age', 'Time', 'City']

In [ ]:
age = [i for i in df['Age']]
print(age)

[20, 19, 21, 20]